<div id="map-canvas" class='index'></div>

<h2 id="current"></h2>

<script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
<script>
  var geojson = <%= @geojson.html_safe %>;

  var map;
  function initialize() {
    map = new google.maps.Map(document.getElementById('map-canvas'), {
      zoom: 10,
      center: {lat: 34.1, lng: -118.3}
    });

    map.data.addGeoJson(geojson);

    // set styling
    var featureStyle = {
      fillColor: '#aaa',
      strokeWeight: 0.5
    }
    map.data.setStyle(featureStyle);

    // add hover enter/exit events
    map.data.addListener('mouseover', function(event) {
      map.data.revertStyle();
      map.data.overrideStyle(event.feature, {strokeWeight: 3});

      var name = event.feature.getProperty('name');
      $('#current').text(name);

      var slug = event.feature.getProperty('slug');
      $('.neighborhood-data .neighborhood.' + slug).addClass('current');
    });

    map.data.addListener('mouseout', function(event) {
      map.data.revertStyle();
      $('#current').text("");

      var slug = event.feature.getProperty('slug');
      $('.neighborhood-data .neighborhood.' + slug).removeClass('current');
    });

    // on click event
    map.data.addListener('click', function(event) {
      var slug = event.feature.getProperty('slug');
      location.replace("/neighborhoods/" + slug);
    });
  }

  google.maps.event.addDomListener(window, 'load', initialize);
</script>

<div class='neighborhood-data'>
  <% @neighborhoods.each do |neighborhood| %>
    <div class='neighborhood <%= neighborhood.name %>'>

      <% if neighborhood.profiles.any? %>
        <% neighborhood.show_profiles.each do |profile| %>
          <h5><%= profile.heading %></h5>
          <%= profile.raw_xml.html_safe %>
        <% end %>
      <% end %>

      <% if neighborhood.crime %>
        <h5>Crime rate</h5>
        <ul>
        <li><%= neighborhood.crime.rank %> (Higher is worse, lower is better.)</li>
        <li><%= neighborhood.crime.per_capita %> per capita</li>
        </ul>
      <% end %>

    </div>
  <% end %>
</div>
